/* Style for TransactionFilters */
/* Center the TransactionFilters component */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.select-container {
  align-items: center;
  margin-bottom: 10px;
}

.select-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-container {
  text-align: center;
}

.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}

.results {
  margin-top: 20px;
}

.results ul {
  list-style: none;
  padding: 0;
}

.results li {
  padding: 5px 0;
  font-size: 16px;
  color: #007bff;
}
.balance {
  padding: 10px 20px;
  color: #007bff;
}

.context {
  padding: 20px;
  margin: 50px;
  border: 2px greenyellow;
  text-decoration-color: #007bff;
  background-color: #0056b3;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
